
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.wba{
    position: relative;
    -webkit-box-reflect: below 1px linear-gradient 
    (transparent, #0002);
}
.wba::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #c79ec3;
    animation: blinkCursor 0.8s steps(3) infinite;
}
@keyframes blinkCursor{
    0%, 75%{
        opacity: 1;
    }
    76%,100%{
        opacity: 0;
    }
}
.wba h2{
  position: relative;
  color: #c79ec3;
  letter-spacing: 5px;
  font-size: 40px;
  text-transform: uppercase;
  animation: typing 8s steps(10) infinite;
  overflow: hidden;
  margin-top: -5px;
}
@keyframes typing{
    0%{
        width: 0;
    }
    30%, 60%{
        width: 401.88px;
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #bd90b9;
    color: white;
    transition: all 0.4s ease;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid pink;
    margin-right: 10px;
    color: blck;
    font-weight: 600;
    font-size: 15px;
    transition: border-color 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.container {
    width: 100%;
    max-width: 940px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    flex-grow: 1;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    margin-right: 40px;
}

.info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-weight: 600;
    font-size: 60px;
    color: #f8dff6;
    cursor: pointer;
    letter-spacing: 80px;
    text-transform: uppercase;
    width: fit-content;
    transition: color 0.3s ease;
}
h2 span{
    transition: 0.7s;
}
h2:hover span{
    color: #fff;
    text-shadow: 0 0 80px #fff
    0 0 120px #fff
    0 0 160px #fff;
}
h2:hover span:first-child{
    margin-right: 40px;
    color: pink;
    
}


/* .info-wrap__title1 {
    font-weight: 600;
    font-size: 60px;
    color: whitesmoke;
    letter-spacing: 80px;
    text-transform: uppercase;
    width: fit-content;
    transition: color 0.3s ease;
} */
    
.info-wrap__title:hover {
    color: #fff;
}

.icons {
    display: flex;
    align-items: center;
}

.iconss {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 70px;
    margin-top: 20px;
}

.icon {
    transition: color 0.4s ease;
}

.icon-white {
    color: #fff;
    transition: color 0.4s ease;
}

.desc {
    font-size: 20px;
    width: 58px;
    text-align: center;
    margin-bottom: 7px;
    animation: waviy 3s infinite;
    margin-right: 85px;
    transition: color 0.3s ease;
}

.desc:hover {
    color: #fff;
}

.d1 {
    animation-delay: .2s;
}

.d2 {
    animation-delay: .4s;
}

.d3 {
    animation-delay: .6s;
}

.d4 {
    animation-delay: .8s;
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}

.logo {
    /* width: 120px;
    height: 130px;
    border-radius: 10px;
    border: 5px solid transparent;
    transition: border-color 0.4s ease, border-radius 0.4s ease, transform 0.4s ease; */

    width: 160px;
    height: 160px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.logo::before {
    content: "";
    background-image: conic-gradient(white 20deg, transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: odina 5s linear infinite;
  }
  .logo::after {
    content: "";
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    animation: odina 5s linear infinite;
  }
  @keyframes odina {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }}
    img {
        height: 150px;
        width: 150px;
        border-radius: 8px;
        position: absolute;
      }
.wrap {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 900px;
}

.wrap__fristValue {
    margin-right: 30px;
    transition: color 0.4s ease;
}

.wrap__value {
    width: 100%;
    max-width: 220px;
    transition: color 0.4s ease;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner__info {
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-right: 20px;
    transition: color 0.4s ease;
}

.inner__info-right {
    margin-left: 0;
    margin-right: -70px;
}

.input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    margin-right: 15px;
    padding: 10px 5px;
    border-radius: 30px;
    border: 3px solid pink;
    font-size: 15px;
    font-weight: 600;
    transition: border-color 0.4s ease, background-color 0.4s ease, color 0.4s ease;
    color: black;
}

.input::placeholder {
    color: rgba(128, 128, 128, 0.806);
}

















@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}